.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.sidebar {
    width: 30%;
    padding: 20px;
    background-color: #111111;
    border-radius: 20%;
    margin: 3%;
}

.content {
    width: 90%;
    padding: 20px;
    background-color: #111111;
    border-radius: 20%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0;
}

.profile-section {
    margin-bottom: 20px;
}

.edit-profile-section {
    max-width: 400px;
    margin: 0 auto;
}

.edit-form {
    max-width: 400px;
    margin: 0 auto;
}

.data-field {
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #111111;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],    
.input-mask,
.inputField{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
}   