.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.sidebar {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 20px;
}

.infoList {
    list-style-type: none;
    padding: 0;
}

.link {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: greenyellow;
}

.content {
    width: 60%;
    padding: 20px;
}
